.message {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.imageAndText {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex: 1;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    max-width: 570px;
    background-color: #0066cc;
    color: white;
    padding: 16px;
    border-radius: 10px 10px 0 10px;
    position: relative;
}

.text:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid #0066cc;
}

.name {
    align-self: flex-end;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3px;
}

.messageText {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: end;
    float: right;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.time {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: flex-end;
    margin-top: 5px;
    margin-right: 12px;
}