.buttonsContainer {
    display: flex;
    gap: 25px;
    margin-bottom: 60px;
}

.responseContainer {
    display: flex;
    gap: 100px;
}

.imageContainer {
}

.image {
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 450px;

    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.code {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
}

.text {
}
.info {
}