.container {

}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.wrapper:last-child {
    margin-top: 40px;
}

.number {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    width: 24px;
}
